<div>
    <div class="py-4 footer01">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <img src="./assets/movers-footer-logo.png" alt="removal" class="footer_logo"/>
                  <ul>
                    <li>
                        <a routerLink="demo_01"><i class="fa-regular fa-comment"></i>
                        Contact us</a>
                    </li>
                    <li>
                        <a routerLink="demo_02"><i class="fa-regular fa-handshake" ></i>
                        Careers</a>
                    </li>
                  </ul>
                  <div>
                    <button class="btn-quote">
                        <i class="fa-solid fa-pen-to-square"></i>GET QUOTE
                    </button>
                  </div>
                <div class="py-5 d-flex">
                    <div class="youtube mx-4">
                        <i class="fa-brands fa-youtube fa-2xl"></i>
                    </div>
                    <div class="youtube">
                        <i class="fa-brands fa-linkedin fa-2xl"></i>
                    </div>
                </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <ul>
                        <h2>Our Services</h2>
                        <li routerLink="demo_03">Internatonal moves</li>
                        <li routerLink="demo_01">Consolidated moves</li>
                        <li routerLink="demo_02">Domestic moves</li>
                        <li routerLink="demo_03">Secure stoage</li>
                        <li routerLink="demo_01">Vehcile transport</li>
                        <li routerLink="demo_02">Office moves</li>
                        <li routerLink="demo_03">Hospitality management</li>
                        <li routerLink="demo_01">Fine art</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <ul>
                        <h2>Our Network</h2>
                        <li routerLink="demo_02">Africa</li>
                        <li routerLink="demo_03">Asia</li>
                        <li routerLink="demo_01">Carribean</li>
                        <li routerLink="demo_02">Europe</li>
                        <li routerLink="demo_03">France</li>
                        <li routerLink="demo_01">French OverSeas Territories</li>
                        <li routerLink="demo_02">Middle East</li>
                        <li routerLink="demo_03">See All Countries</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <h2>Recent Posts</h2>
                    <a><p>MOBILITAS consolidates its Asian footprint with new branch in Laos – the 100 th country in its 
                        network.Moving from India to Singapore: Your Go-To Guide What You Need to Know When Moving to 
                        France from India</p></a>
                        <div>
                            <img src="./assets/ags-global-compact-logo-en.png" alt="compact_logo" />
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <div class="text-light d-flex">
         <div class="align-items-start">
             <p>Copyright AGS @ 2023</p>
         </div>
         <div class="policy">
             <p>Terms of Use/Privacy poicy</p>
         </div>
        </div>
     </div>
</div>