.carousel-inner .carousel-item{
    height: 500px;
}
@keyframes zoomin{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}
.carousel-inner .carousel-item{
    animation: zoomin 20s infinite;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
