<div class="py-3 move">
  <div class="container mx-5">
    <div class="text-center">
        <h1 class="we">We move people who move the world</h1>
    </div>
    <div class="row py-5 my-5 mx-5 px-5">
        <div class="col-lg-3 col-sm-3 py-4">
            <h1 class="counter">{{projectcount}}<sup>+</sup><sub>m2</sub></h1>
            <span>Secure storage</span>
        </div>
        <div class="col-lg-3 col-sm-3 py-4">
            <h1 class="counter">{{familycounts}}<sup>+</sup></h1>
            <span>Families moved annually</span>
        </div>
        <div class="col-lg-3 col-sm-3 py-4">
            <h1 class="counter">{{employeecount}}</h1>
            <span>Employees world wide</span>
        </div>
        <div class="col-lg-3 col-sm-3 py-4">
            <h1 class="counter">{{yearcount}}</h1>
            <span>Year's Experience</span>
        </div>
    </div>
    <div class="text-center py-5">
        <a class="freequote" routerLink="demo_01">GET A FREE QUOTE<i class="fa-solid fa-chevron-right mx-4"></i></a>
    </div>
  </div>
</div>
