<div class="container">
    <div class="international01">
      <div class="text-center ">
        <h1>INTERNATIONAL REMOVALS & STORAGE</h1>
        <div class="text-center">
            <p>“Pioneer in the mobility industry, AGS International Movers, is now one of its global leaders, 
                as a result of the innovative vision of its board for the last forty years”
                “We provide tailor-made <a class="servicess"> services in international removals</a> and <a class="servicess">secure storage.”</a></p>
        </div>
        <div class="text-center">
            <h3><a class="offer">"</a>We offer advice and excellent services on 5 continents<a class="offer">"</a></h3>
        </div>
      </div>
      <div class="row py-5">
        <div class="text-center d-flex">
          <div class="col-lg-6 col-sm-6 mx-4">
            <div>
              <div class="individuals">
                <div class="column-title">
                 <h3>For Individuals</h3>
                </div>
             </div>
              <div class="img-box">
                <img src="./assets/ags-movers-individual-move-1.jpg" alt="image01" class="img-fluid"/>
              </div>
              <div class="py-4">
                <p>
                 <strong>Let us help you prepare for a smooth and successful move.</strong> Whether you are moving from 
                 Africa to Asia or from England to the USA, we accompany you from departure to arrival.
                 Our global network and local resources allow us to provide the highest quality services from start to finish.
                </p>
                <div class="d-flex">
                  <div class="service mx-3">
                    <a routerLink="demo_01">See Our Services</a>
                  </div>
                  <div class="service2 mx-3">
                    <a routerLink="demo_02">Request a Quote</a>
                  </div>
                </div>
             </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div>
              <div class="individuals">
                <div class="column-title">
                 <h3>For Corporations</h3>
                </div>
             </div>
              <div class="img-box">
                <img src="./assets/ags-movers-coporation.jpg" alt="image02" class="img-fluid"/>
              </div>
                <div class="py-4">
                  <p>
                    <strong>Our unmatched expertise is integrated in a network operated by skilled international specialists</strong> who offer 
                    tailor-made solutions to meet corporate clients’ specific needs. As a dynamic company, AGS always strives to 
                    deliver innovative solutions to all kind of organisations and businesses.
                  </p>
                  <div class="d-flex">
                    <div class="service mx-3">
                      <a routerLink="demo_03">See our solutions</a>
                    </div>
                    <div class="service2 mx-3">
                      <a routerLink="demo_01">Contact Us</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>