<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container">
      <a class="navbar-brand">
        <img src="./assets/removals_logo.png" alt="logoimage" height="50%" width="50%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="demo_01">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">CHOOSING AGS</a>
              <div class="mega-menu bg-dark">
                <div class="container">
                   <div class="row d-flex">
                    <div class="col-lg-8 sol-sm-8">
                      <div class="py-4">
                        <h4 class="megamenu_header01">WHY CHOOSE US</h4>
                        <hr class="hr001"/>
                        <div class="container">
                          <div class="row py-4">
                            <div class="d-flex">
                              <div class="col-lg-3 col-sm-3">
                                <img src="./assets/our-global-network-ags.png" alt="global_network"/>
                                  <h5 style="color: rgb(187, 180, 180);" routerLink="demo_01">Our global<br/> network</h5>
                              </div>
                              <div class="col-lg-3 col-sm-3">
                                <img src="./assets/ags-moving-towards-future-about-us-dropdown-menu.png" alt="moving" />
                                <h5 style="color: rgb(187, 180, 180);" routerLink="demo_02">Moving toward<br/> the future</h5>
                              </div>
                              <div class="col-lg-3 col-sm-3">
                                <img src="./assets/quality-accreditations-ags.png" alt="quality-accer"/>
                                <h5 style="color: rgb(187, 180, 180);" routerLink="demo_03">Quality &<br/> acceriditations</h5>
                              </div>
                              <div class="col-lg-3 col-sm-3">
                                <img src="./assets/excellence-of-our-staff-ags.png" alt="excellence"/>
                                <h5 style="color: rgb(187, 180, 180);" routerLink="demo_01">The excellence<br/> of our staff</h5>
                              </div>
                            </div> 
                          </div>
                          <div class="row py-4">
                              <div class="d-flex">
                                <div class="col-lg-3 col-sm-3">
                                  <img src="./assets/your-satisfaction-ags.png" alt="satisfaction"/>
                                  <h5 style="color: rgb(187, 180, 180);" routerLink="demo_02">Your satisfaction</h5>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                  <img src="./assets/security-ags.png" alt="security"/>
                                  <h5 style="color: rgb(187, 180, 180);" routerLink="demo_03">Security</h5>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                  <img src="./assets/1-move-1-tree-ags.png" alt="tree"/>
                                  <h5 style="color: rgb(187, 180, 180);" routerLink="demo_01">Planete urgence</h5>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                  <img src="./assets/compliance-ags.png" alt="compliance"/>
                                  <h5 style="color: rgb(187, 180, 180);" routerLink="demo_01">Compliance</h5>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="py-4">
                          <h4 class="megamenu_header01">ABOUT AGS WORLDWIDE MOVERS</h4>
                          <hr class="hr002"/>
                          <div class="container">
                            <ul style="color:rgb(187, 180, 180); text-align: justify; list-style: none;">
                              <li><p routerLink="demo_02">Mission statement</p></li>
                              <li><p routerLink="demo_03">Our success story</p></li>
                              <li><p routerLink="demo_01">Our values and commitment</p></li>
                            </ul>
                          </div>
                        </div>
                        <div class="py-4">
                          <h4 class="megamenu_header01">CORPORATE SOCIAL RESPONSIBILITY</h4>
                          <hr class="hr002"/>
                          <div class="container">
                            <ul style="color: rgb(187, 180, 180); text-align: justify; list-style: none;">
                              <li><p routerLink="demo_02">Trainning</p></li>
                              <li><p routerLink="demo_03">Our people</p></li>
                              <li><p routerLink="demo_01">Our enviornment</p></li>
                              <li><p routerLink="demo_02">Health and safety</p></li>
                              <li><p routerLink="demo_03">Carbon footprint</p></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                   </div>
                </div>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="demo_01">OUR SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="demo_02">OUR NETWORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="demo_03">NEWS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">CONTACT</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">General enquiries</a></li>
                <li><a class="dropdown-item">Your satisfaction</a></li>
              </ul>
          </li>
        </ul>
          <div>
            <button class="btn-quote" routerLink="demo_01">
              <i class="fa-solid fa-pen-to-square"></i>GET QUOTE
            </button>
          </div>
      </div>
    </div>
  </nav>

  