<div class="top-head">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="leftside">
                    <ul class="d-flex list-unstyled">
                        <li><a routerLink="demo_01">AGS Group</a></li>
                        <li><a routerLink="demo_02">Relocation</a></li>
                        <li><a routerLink="demo_03">Records Management</a></li>
                        <li><a routerLink="demo_01">
                            <span class="active">
                                Worldwide Movers
                            </span>
                        </a></li>
                    </ul>
                </div>
                <div class="rightside">
                    <ul class="d-flex list-unstyled">
                        <li><i class="fa-solid fa-handshake"></i><a routerLink="demo_02">Careers</a></li>
                        <li><i class="fa-regular fa-credit-card"></i><a routerLink="demo_03">Payments</a></li>
                        <li><i class="fa-regular fa-user"></i><a routerLink="demo_01">Log in</a></li>
                        <li><img src="./assets/uk.svg" alt="uk_flag" style="height: 12px; width: 18px;">English</li>
                        <li>
                           <select id="country" name="flag">
                            <option> &nbsp; &nbsp; &nbsp; </option>
                            <option>Francis</option>
                            <option><a>Deutch</a></option>
                            <option><a>Dutch</a></option>
                           </select>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>
