<div class="py-4 domestic">
  <div class="text-center">
    <h1>Domestic & International Removals Solutions</h1>
    <div class="text-center">
      <p class="text-secondary">
        AGS International Movers offers excellence to each of its clients.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="py-4 d-flex">
      <div class="row">
        <div class="col-lg-2 col-sm-2 image01">
          <img src="./assets/international-move-service_.png" alt="international01" class="image001" />
          <div class="py-4">
            <h3 class="qote">International Moves</h3>
          <span class="text-center text-secondary">
            <p routerLink="demo_01">Get quote</p>
          </span>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 image01">
          <img src="./assets/national-move-service.png" alt="national01" class="image001"/>
          <div class="py-4">
            <h3 class="qote2">Domestic Moves</h3>
          <span class="text-center text-secondary">
            <p routerLink="demo_02">Get quote</p>
          </span>
          </div> 
        </div>
        <div class="col-lg-2 col-sm-2 image01">
          <img src="./assets/office-move-service.png" alt="officemove" class="image001"/>
          <div class="py-4">
            <h3 class="qote2">Office Moves</h3>
          <span class="text-center text-secondary">
            <p routerLink="demo_03">Get quote</p>
          </span>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 image01">
          <img src="./assets/secure-storage-service.png" alt="service" class="image001"/>
          <div class="py-4">
            <h3 class="qote2">Secure Storage</h3>
          <span class="text-center text-secondary">
            <p routerLink="demo_01">Get quote</p>
          </span>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 image01">
          <img src="./assets/vehicle-transfer-service.png" alt="transfer" class="image001"/>
          <div class="py-4">
            <h3 class="qote2">Vehcile Transfer</h3>
          <span class="text-center text-secondary">
            <p routerLink="demo_02">Get quote</p>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
