<div class="py-4">
    <div class="container">
        <div class="text-center">
            <h1>Client satisfaction is our primary focus</h1>
            <p class="text-center">We assist and accompany more than 150000 families with their relocation every year. 
            We pride ourselves in<br/> our ability to safely and successfully move any item in your home.</p>
        </div>
        <div class="row">
           <div class="d-flex">
            <div class="col-lg-6 col-sm-6 d-flex">
                <img src="./assets/quality-certificate-icon.png" alt="quality" height="100px" width="100px"/>
                <div class="mx-4 px-4">
                    <h5>Quality & Satisfaction</h5>
                    <p>We uphold a high standard of performance and adhere to strict terms and procedures to provide <a class="best">the best quality</a> 
                        of services.<a class="best"> Mr GoodMove, our dedicated customer care department </a>, allows us to guarantee your 
                        complete satisfaction, by continuing to help you even when the move is finished.</p>
                </div>
               </div>
               <div class="col-lg-6 col-sm-6 d-flex">
                <img src="./assets/security-icon.png" alt="security" height="100px" width="100px"/>
                    <div class="mx-4 px-4">
                        <h5>Security & Reliability</h5>
                        <p><a class="best"> The safety </a>of your belongings is our top priority. No matter where you go, move with peace of mind with AGS. 
                            We adapt to any situation and build the solutions you are looking for. We advise and are committed to offer 
                            our clients competitive rates while maintaining the best quality standards and adhering to compliance policies.</p>
                    </div>
               </div>
           </div>
        </div>
        <div class="row">
            <div class="d-flex">
                <div class="col-lg-6 col-sm-6 d-flex">
                    <img src="./assets/quality-satisfaction-icon.png" alt="satisfaction" height="100px" width="100px"/>
                  <div class="mx-4 px-4">
                    <h5>Flexibility & Advice</h5>
                    <p>We are the trusted partner of individuals, corporates, institutions and NGOs. They have been moving with us for 49 years.
                         Our ability to respect deadlines and to deliver fast and excellent services all year round helps building strong 
                        partnerships with our customers. We advise our clients on the various options available and offer high quality services at competitive prices.</p>
                  </div>
                   </div>
                   <div class="col-lg-6 col-sm-6 d-flex">
                     <img src="./assets/cutting-edge.png" alt="cutting" height="100px" width="100px"/>
                     <div class="mx-4 px-4">
                        <h5>Cutting-edge solutions</h5>
                        <p>Constantly innovating, AGS always thinks a step ahead, providing you with <a class="best"> the smartest services solutions </a> at 
                            the most competitive prices. We integrate technology in each of our core services (quotes, 
                            tracking, deliveries…) to ease and facilitate all of our operations.</p>
                     </div>
                   </div>
            </div>
        </div>
    </div>
</div>