<div class="demo03">
    <div class="py-5">
        <div class="text-center">
            <h1>This is Demo Project</h1>
        </div>
        <div class="py-5">
            <div class="py-4">
                <div class="py-4 text-center">
                   <h3>By Sandeep Kumar</h3>
                </div>
                <div class=" py-4 text-center">
                    <a href=" https://wa.me/919852755455" target="_blank"><p><i class="fa-brands fa-whatsapp fs-4 mx-4" style="color: #294e32;"></i><p class="whats">click me</p>
                    </a>
                </div>
                <div class=" py-4 text-center">
                    <a><p><i class="fa-solid fa-phone-volume fs-4 mx-4" style="color: #84e543;"></i>+916299271252</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 text-center">
        <a routerLink="">
            <h2>Back to Home</h2>
        </a>
    </div>
</div>